rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /users/{uid}/encrypted/{id} {
      allow read: if request.auth != null && request.auth.uid == uid;
      allow write: if request.auth != null && request.auth.uid == uid && (request.resource == null || request.resource.size < 21 * 1024 * 1024 && request.resource.contentType == 'application/octet-stream');
    }
    match /{allPaths=**} { allow read,write: if false; }
  }
}
